html {background-color: azure;}
body { font-family: Arial, sans-serif; margin-top: 100px;}
.section { margin-bottom: 20px; }
h1, h2 { color: navy; }
p {color: darkblue}
form {color: darkblue;}
input, textarea { background-color: gainsboro;}
.work-experience, .education { margin-left: 20px; }
nav { 
    background-color: lightblue; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    height: 80px; 
    font-family: Arial, sans-serif; 
    font-size: large;
    display: flex;
    align-items: center;
    }
    nav * {display: inline; }
    nav li {margin: 20px;}
    nav li a {color: darkblue; text-decoration: none;
    }